* {
    box-sizing: border-box;
    margin: 0;
    /* font-size: 24px; */
}

body {
    background-color: wheat;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Tahoma, sans-serif;
}

 .main {
    margin-top: 1rem;
    border-radius: 10px;
    height: 90vmax;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(39 77% 73% / 1);
} 

@media screen and (min-width: 500px) {
    .main{
        max-height: 80vh;
    }
}

h3{
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    margin: 1.75rem 0 0 0;
    width: 60vw;
}

@media screen and (min-width: 500px) {
    h3{
        font-size: 2.25rem;
        width: 80vw;
    }
}

.problem {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
 }
/* Problem div Styles
------------------------ */
.problem span {
    border-radius: 5px;
    height: 3rem;
    width: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: rgb(64, 34, 173) 0.5vw solid;
    text-align: center;
    font-size: 3rem;
}

#equality {
    font-size: 3rem;
}

@media screen and (min-width: 500px) {
    .problem {
        column-gap: 2.5rem;
    }
    .problem span {
        height: 5rem;
        width: 6rem;
        font-size: 6rem;
    }

    #equality {
        font-size: 6rem;
    }
}

/* Operations div Styles
------------------------- */
.operations {
    display: flex;
}
.operations button {
    margin: 0 15px;
    padding: 5px 13px;
    font-size: 2rem;
}
/* Control div Styles
---------------------- */
.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
}


.control button {
    padding: 8px 10px ;
    border: 1px solid;
    border-radius: 5px;
}

#next-question {
    margin: 0px;
}

@media screen and (min-width: 500px) {
    .control button {
        padding: 8px 10px ;
        font-size: 1.75rem;
    }
    
    #next-question {
        margin: 0px 2rem;
    }
}

.feedback {
    font-size: 1.5rem;
}
@media screen and (min-width: 500px) {
    .feedback {
        font-size: 2.25rem;
    }
}

.time-sound {
    margin-top: 1rem;
}