* {
    box-sizing: border-box;
    margin: 0;
    font-size: 24px;
}

body {
    background-color: antiquewhite;
    margin: auto;
}

/* .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    background-color: azure;
} */

h3{
    text-align: center;
    font-size: 5vw;
    text-transform: capitalize;
    margin: 10vw;
}

.problem {
    display: flex;
    justify-content: center;
    column-gap: 5vw;
    margin-bottom: 10vw;
}

.problem span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    min-width: 15vw;
    height: 15vw;
    outline: blueviolet 0.5vw solid;
    font-size: 12vw;
    text-align: center;
}

.operations, .control {
    display: flex;
    justify-content: space-around;
    margin: 5vw;
}

#equality {
    font-size: 12vw;
}

button {
    /* vertical-align: auto; */
    width: 15vw;
    height: 15vw;
    font-size: 3rem;
}

.control button {
    width: 25vw;
    font-size: 1.3rem;
}

.feedback {
    border-radius: 5vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 20vw;
    font-size: 2rem;
    color: black;
    background-color: whitesmoke;
    width: 14vw;
    height: 7vw;
}

