* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: auto;
    background-color: aquamarine;   
}

h3{
    margin-bottom: 5rem;
}

.problem {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    margin-bottom: 5rem;
}

#first_number, #operation, #second_number, #result {
    width: 13vw;
    height: 13vw;
    outline: blueviolet 1vw solid;
    vertical-align: middle;
    font-size: 12vw;
}

.operations {
    display: flex;
    justify-content: space-around;
}

#equality {
    font-size: 12vw;
}

button {
    width: 14vw;
    height: 7vw;
}

